<!-- Importing Documentation -->
<%- include partials/header.ejs%>
<!-- Importing Navbar -->
<%- include partials/main_nav.ejs%>

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %> Me</h1>
      <img src="../Assets/images/michael.jpg" class="rounded float-right" alt="Image of Michael Courneya" style="width:200px;height:200px;">
      <h5>Michael John Courneya</h5>
      <p>
        Hello there. I am a second year student at Centennial College in Game Programming. I have a huge passion for video games, especially when it comes to RPGs and making your own story.
        I love working on unique ideas and making them come to life, and when it comes to the game development process I specialize in level design.
      </p>
      <p><a href="https://drive.google.com/file/d/1Tlt9KrKMgIQdNLmnTaBD0RIAtoxzsgPv/view" target="_blank">Resume</a></p>
    </div>
  </main>
<!-- Importing Bottom bar -->
<%- include partials/bottom_nav.ejs %>
<!-- Importing Scripts -->
<%- include partials/footer.ejs %>