<!-- Importing Documentation -->
<%- include partials/header.ejs%>
<!-- Importing Navbar -->
<%- include partials/main_nav.ejs%>

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
      <div class="card">
        <div class="card-body">
            <img src="../Assets/images/auxillary.gif" style="width:480px;height:270px;" class="rounded float-right" alt="GIF of gameplay."></img><p><a href="https://giphy.com/gifs/jQVJvrCnhzelWj3SzY">Original</a></p>
            <h5>Auxillary Intelligence</h5>
            <p>Solo game development project. Main feature of gameplay involves changing the main character to different robots in order to complete puzzles.</p>
            <p><a href="https://github.com/pinct/Auxillary-Intelligence" target="_blank">Github</a></p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
            <img src="https://media.discordapp.net/attachments/633392346603585537/649001643202838565/Capture.PNG" alt="Capture of a level." class="rounded float-right" style="width:480px;height:270px;">
            <h5>Chroma Confusion</h5>
            <p>Group game project made for COMP391. Main mechanich involved doors toggling on and off when a button of the same color is pressed.</p>
            <p><a href="https://github.com/pinct/Chroma-Confusion" target="_blank">Github</a></p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
            <img src="../Assets/images/sabacc.PNG" alt="Image of program interface." style="width:480px;height:270px;" class="rounded float-right">
            <h5>Sabacc Calculator</h5>
            <p>Solo application project. This is a simple windows app for calculating sabacc values for the FFG Star Wars RPG.</p>
            <p><a href="https://github.com/pinct/SabaccV2" target="_blank">Github</a></p>
        </div>
      </div>
    </div>
  </main>
<!-- Importing Bottom bar -->
<%- include partials/bottom_nav.ejs %>
<!-- Importing Scripts -->
<%- include partials/footer.ejs %>