<%- include partials/header.ejs%>

<%- include partials/main_nav.ejs%>

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
      <h5><i class="fas fa-keyboard"></i> General Programming</h5>
      <h5><i class="fas fa-globe"></i> Web Development</h5>
      <h5><i class="fas fa-gamepad"></i> Game Development</h5>
      <h5><i class="fab fa-old-republic"></i> Everything Star Wars</h5>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>